@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var itemsPerRow = 3;
	var selection = Umbraco.Content(Guid.Parse("404411e3-8886-4bd8-9b8d-eff58bfe84a0"))
    .ChildrenOfType("articleDetailPage")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate).ToList();
    var showSelection =  selection.Take(itemsPerRow);
}

<!--article section-->
<section class="article-section">
    <div class="container">
            <div class="title">
                <div class="text">
                    <h4 class="red-title">@Model.Value("articleNewsName")</h4>
                    <h2>@Model.Value("articleNewsTitle")</h2>
                </div>
                <a href="@Model.Value("articleNewsBtnUrl")" class="btn-transparent">@Model.Value("articleNewsBtnText")</a>
            </div>
            <div class="article">
                @if (showSelection != null)
                    {
                        @foreach (var item in showSelection)
                        {
                            var url = item.Url();
                            var image = item.Value<IPublishedContent>("newsImage");
                            var category = item.Value("newsCategory");
                            var title = item.Name();
                            var preamble = item.Value("newsPreamble");
        
                            <a class="box" href="@url">
                                <img class="image" src="@image?.Url()" alt="@image?.Name()" />
                                <p>@category</p>
                                <h3>@title</h3>
                                <p>@preamble</p>
                            </a>
                        }
                    }  
            </div>        
    </div>
</section>