@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!--our service section-->
<section class="our-service-section">
    <div class="container">
        <h4 class="red-title">@Model.Value("serviceTitle1")</h4>
        <h2>We Provide The Best Service For Consulting</h2>
        <div class="section">
            <div class="box">
                <h3>@Model.Value("serviceTitle1")</h3>
                <p class="md-disable">@Model.Value("serviceDescription1") </p>
                <a href="@Model.Value("service1Url")" class="btn-circle"><i class="fa-solid fa-arrow-right"></i></a>
            </div>        
            <div class="box">
                <h3>@Model.Value("serviceTitle2")</h3>
                <p class="md-disable">@Model.Value("serviceDescription2") </p>
                <a href="@Model.Value("service2Url")" class="btn-circle"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="box">
                <h3>@Model.Value("serviceTitle3")</h3>
                <p class="md-disable">@Model.Value("serviceDescription3") </p>
                <a href="@Model.Value("service3Url")" class="btn-circle"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="box">
                <h3>@Model.Value("serviceTitle4")t</h3>
                <p class="md-disable">@Model.Value("serviceDescription4") </p>
                <a href="@Model.Value("service4Url")" class="btn-circle"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <a href="@Model.Value("ourServiceSectionBtnUrl")" class="btn-transparent">@Model.Value("ourServiceSectionButtonText")<i class="fa-regular fa-arrow-up-right"></i></a>
    </div>
</section>