@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	var selection = Umbraco.Content(Guid.Parse("f419d986-1d6b-4258-b915-c535fd09b6cf"))
    .ChildrenOfType("serviceDetailPage")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name).ToList().Take(4);
}
<!--our service section-->
<section class="our-service-section">
    <div class="container">
        <h4 class="red-title">@Model.Value("ourServiceSectionName")</h4>
        <h2>@Model.Value("ourServiceSectionTitle")</h2>
        <div class="section">
    	@foreach (var item in selection)
    	{
    	    var title = item.Name();
    	    var url = item.Url();
            var description = item.Value("serviceDescription");
            <div class="box">
            <h3>@title</h3>
            <p class="md-disable">@description</p>
            <a href="@url" class="btn-circle"><i class="fa-solid fa-arrow-right"></i></a>
            </div>  
    	}     
        </div>
        <a href="@Model.Value("ourServiceSectionBtnUrl")" class="btn-transparent">@Model.Value("ourServiceSectionButtonText")<i class="fa-regular fa-arrow-up-right"></i></a>
    </div>
</section>