@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Cms.Web.Common.PublishedModels;

@{
	var selection = Umbraco.Content(Guid.Parse("3b5b8b21-5d95-438c-87cb-481b5390b2c3"))
    .ChildrenOfType("projectDetailPage")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name).ToList();
    var upProjectSection = selection.Take(2);
    var downProjectSection = selection.GetRange(2,2);
}
<!--project case studies section-->
<section class="project-case-section">
<div class="container">
    <h4 class="red-title">@Model.Value("projectSectionName")</h3>
    <h2>@Model.Value("projectSectionTitle")</h2>
    <div class="cases">
        <div class="section-up">
            
        	@foreach (var item in upProjectSection)
        	{
            var url = item.Url();
            var image = item.Value<IPublishedContent>("projectImage");
            var title = item.Name();
            <div class="one-case-box">
                <div class="box">
                    <img src="@image.Url()" alt="@image?.Name()" />
                    <h3>@title</h3>
                </div>
                <div class="btn">
                    <a href="@url" class="btn-transparent no-border">@Model.Value("projectBtnText1")<i class="fa-regular fa-arrow-up-right"></i></a>
                </div>
            </div>
            }
        </div>
        <div class="section-down">
        @foreach (var item in downProjectSection)
    	{
        var url = item.Url();
        var image = item.Value<IPublishedContent>("projectImage");
        var title = item.Name();
    	    <div class="one-case-box">
                <div class="box">
                    <img src="@image.Url()" alt="@image?.Name()" />
                    <h3>@title</h3>
                </div>
                <div class="btn">
                    <a href="@url" class="btn-transparent no-border">@Model.Value("projectBtnText1")<i class="fa-regular fa-arrow-up-right"></i></a>
                </div>
            </div>
    	}
        </div>
        
    </div>
    <div class="projects"><a href="@Model.Value("porjectSectionBtnUrl")" class="btn-black">@Model.Value("porjectSectionBtnText")<i class="fa-regular fa-arrow-up-right"></i></a></div>
</div>
</section>